body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.zf-red {
    color: #8f2727;
}

.btn-success, .btn-success:focus {
  background-color: #8f2727;
  border-color: #2e3436;
  background-image: -moz-linear-gradient(top, #641b1b, #8f2727);
  background-image: -ms-linear-gradient(top, #641b1b, #8f2727);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#641b1b), to(#8f2727));
  background-image: -webkit-linear-gradient(top, #641b1b, #8f2727);
  background-image: -o-linear-gradient(top, #641b1b, #8f2727);
  background-image: linear-gradient(top, #641b1b, #8f2727);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#641b1b', endColorstr='#8f2727', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #8f2727;
  border-color: #2e3436;
}

.btn-success:active, .btn-success.active {
  background-color: #8f2727;
  border-color: #2e3436;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.title-crop {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#synopsis {
    text-align: justify;
}

.thumbnail {
    max-height: 360px;
    min-width: 50%;
}

.img-responsive {
    max-height: 360px;
    min-width: 50%;
}