<div class="jumbotron">
    <h1><?php echo sprintf($this->translate('Welcome to %sSLS%s'), '<span class="zf-green">', '</span>') ?></h1>
    <p><?php echo sprintf($this->translate('This is our sekeleton site. Currenty there is no features here..')) ?></p>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Test 1') ?></h3>
            </div>
            <div class="panel-body">
                <p><?php echo sprintf($this->translate('Test test!')) ?></p>
                <p><a class="btn btn-success pull-right" href="http://sls-repository.localhost" target="_blank"><?php echo $this->translate('Index') ?> &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
